.expense-modal, .income-modal {
  max-height: 330px;
}

.tab2-modal {
  max-height: 250px;
}

.tab3-modal,
.edit-modal {
  max-height: 180px;
}

.savings-modal {
  max-height: 300px;
}

.expense-modal,
.income-modal,
.tab2-modal,
.tab3-modal,
.savings-modal,
.edit-modal {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.modal-header {
  display: flex;
  justify-content: center;
  background-color: var(--ion-color-primary);
  box-shadow: none;
  color: #fff;
  padding: 15px;
}

.modal-segment {
  color: #fff;
}

.category-btn {
  margin: 15px 10px 10px 10px;
}

.modal-inputs {
  margin-bottom: 10px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  text-align: center;
}

.savings-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
