.expense-modal,
.income-modal,
.category-modal,
.savings-modal,
.lists-modal {
  max-height: 300px;
}

.tab3-modal,
.edit-modal {
  max-height: 410px;
}

.tab2-modal {
  max-height: 240px;
}

.category-modal {
  max-width: 300px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.expense-modal,
.income-modal,
.tab2-modal,
.tab3-modal,
.savings-modal,
.edit-modal,
.lists-modal {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.modal-header {
  box-shadow: none;
  color: #fff;
  text-align: center;
}

.category-btn {
  margin: 15px 10px 10px 10px;
}

.modal-inputs {
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-inputs > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--ion-color-border);
  padding: 10px;
}

.modal-inputs > input:focus {
  outline: none;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  text-align: center;
}

.savings-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
